<header>
  <mat-toolbar>
    <div class="header" fxLayout="row wrap" fxFlex="90" fxFlex.xs fxLayoutAlign="space-between center">
      <button mat-raised-button class="btn-interior">This interior</button>
      <ul class="navlinks" fxFlex fxLayoutAlign="end" fxLayoutGap="60" fxShow fxHide.sm fxHide.xs>
        <li *ngFor="let link of navLinks"><a [href]="link.link">{{ link.label }}</a></li>
      </ul>
      <button *ngIf="!sidenav.opened" mat-icon-button fxHide fxShow.sm fxShow.xs fxLayoutAlign="end" (click)="sidenav.open()">
        <mat-icon>menu</mat-icon>
      </button>
      <button *ngIf="sidenav.opened" mat-icon-button fxHide fxShow.sm fxShow.xs fxLayoutAlign="end" (click)="sidenav.close()">
        <mat-icon>close</mat-icon>
      </button>
    </div>
  </mat-toolbar>
</header>

  <mat-sidenav-container>
    <mat-sidenav #sidenav mode="over">
      <mat-nav-list>
        <a class="link" mat-list-item *ngFor="let link of navLinks" [href]="link.link">{{  link.label }}</a>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <main>
      <div class="content" fxLayout="row wrap" fxLayoutAlign="space-between center" fxFlex="90">
        <div class="content-left" fxFlex="40" fxFlex.sm="100" fxFlex.xs="100">
          <h1>Modern interior</h1>
          <p>
            A full-service residential & <br>
            commercial interior design and <br>
            staging company offering <br>
            professional organizing & <br>
            eco-services.
          </p>
          <button mat-raised-button>
            <mat-icon class="icon-forward">forward</mat-icon>
            <span>Read more</span>
          </button>
        </div>
        <div class="content-right" fxLayout="row wrap" fxFlex="60" fxFlex.sm="100" fxFlex.xs="100" fxLayoutAlign="center">
          <div class="interior" fxFlex="100">
            <img src="./assets/photo1.png" alt="photo" class="interior-image">
          </div>
          <div class="information" fxFlex="90">
            <mat-card class="mat-elevation-z8">
            <mat-card-header fxLayout="row wrap" fxLayoutAlign=" center" fxLayoutGap="20">
              <div class="avatar">
                <img src="./assets/photo2.png" alt="photo">
              </div>
              <div class="presentation" fxFlex>
                <p>Aliza Webber</p>
                <p>Interior design</p>
              </div>
            </mat-card-header>
            <mat-card-content>
              <h1>Designed in 2020 by <br>
                Aliza Webber
              </h1>
            </mat-card-content>
            </mat-card>
          </div>
        </div>
      </div>
    </main>
      <footer>
        <div class="footer" fxLayout="row wrap" fxFlex="90" fxLayoutAlign="center">
          <p>created by <a href="#">Affali Stephane</a> - devchallenges.io</p>
        </div>
      </footer>
    </mat-sidenav-content>
  </mat-sidenav-container>


